#Header {
    background-color: green;
}

#Header div.logo-pic {
    background-color: green;
    height: 220px;
    width: 400px;
    margin-top: 10px;
    padding-block-start: 10px;
    text-align: center;
    float: left;
}


#Header div.logo-pic:hover {
    background-color: rgb(4, 61, 4);
}

#Header h1, h2 {
    color: whitesmoke;
    font-family: Tahoma, Geneva, sans-serif;
    height: 50px;
    width: 800px;
    line-height: 200px;
    display: block;
    margin-left: 500px;
    font-style: italic;
}