body {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background: white;
}

#Container {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 5px;
}

#Header {
    height: 240px;
    background-color: #CCC;
}

#Menu {
    height: 41px;
    background-color: #666;
}

#SideBar {
    width: 180px;
    height: 450px;
    background-color: rgb(78, 185, 185);
    float: left;
}

#MainBody {
    width: calc(100% - 180px);
    height: 450px;
    background-color: rgba(91, 155, 72, 0.247);
    float: right;
}

#Footer {
    height: 10px;
    margin-bottom: 21px;
    background-color: rgb(231, 22, 22);
    clear: both;
}