.tooltip {
    pointer-events:none; /*let mouse events pass through*/
    opacity:0;
    transition: opacity 0.3s;
    text-shadow:1px 1px 0px gray;
}

circle:hover + text + g.tooltip.css, text:hover + g.tooltip.css {
  opacity:1;
}

g.tooltip rect {
    fill:white;
    stroke: black;
    /* stroke-width: 1px; */
    z-index: 3;
}

g.tooltip.css text {
    fill: black;
    font-size: 14px;
}

circle:hover {
    fill: cadetblue;
  }

  text {
    transition: transform 0.2s;
    transform-origin: 50% 50%;
  }

  text:hover {
    display: block;
    /* text-decoration: underline; */
    cursor: pointer;
    transform: scale(1.05);
  }