.tooltip {
    pointer-events:none; /*let mouse events pass through*/
    opacity:0;
    transition: opacity 0.3s;
    text-shadow:1px 1px 0px gray;
}

text:hover {
    font-size: 115%;
    cursor: pointer;
}

text:hover + g.tooltip.css {
    opacity:1;
  }
  
  g.tooltip rect {
    fill:lavender;
    stroke: black;
    z-index: 2;
    /* stroke-width: 1px; */
}

g.tooltip.css text {
    fill: black;
    font-size: 14px;
}