#mySidebar {
    height: auto;
    display: none;
    font-size: 12px;
    z-index: 2;
    width: 150px;
    border: 1px solid black;
    overflow: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
  }

  #bttn {
    color: black;
    position: fixed;
    z-index: 1;
    padding-top: 3px;
    background-color: #1977cc;
    margin-top: 1px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }

  @media (max-width: 900px) {
    #textNav {
      display: none;
    }

    #bttn {
      background-color: #1979cc73;
      border-radius: 15px;
    }
  }

  #textNav {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    text-align: center;
    margin-left: 31px;
    padding: 12px 10px 8px 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 1px;
    border-top-right-radius: 15px;
  }

  #textNav span {
    padding: 17% 11% 15% 5%;
  }

  #textNav span:hover {
    background-color: lavender;
    cursor: pointer;
  }