.collapsible {
    cursor: pointer;
    float: right;
    padding-right: 20px;
    margin-top: -25px;
    font-size: 10px;
}

.collapsible:hover {
    transform: scale(1.25);
    text-decoration-line: underline;
    color: red;
}

.contents {
    display: none;
    overflow: hidden;
}